---
sudo: false
notifications:
  on_success: change
  on_failure: always

language: python
install: pip install tox-travis
script: tox

matrix:
  include:
    - python: 3.6
      env: TOXENV=lint TRAVIS=yes
    - python: pypy3
      env: TOXENV=pypy3 TRAVIS=yes
    - python: pypy
      env: TOXENV=pypy TRAVIS=yes
    - python: 3.6
      env: TOXENV=py36 TRAVIS=yes
    - python: 3.5
      env: TOXENV=py35 TRAVIS=yes
    - python: 3.4
      env: TOXENV=py34 TRAVIS=yes
    - python: 2.7
      env: TOXENV=py27 TRAVIS=yes
